
.nav{
    padding-left: 10px;
}
.navbar {
    background-image: none !important;
    -webkit-text-shadow: none !important;
    -ms-text-shadow: none !important;
    text-shadow: none !important;
    background-color: #808080;
    color: black;
    margin: 0px;
    padding-bottom: 4px;
    padding-top: 4px;
    background-color: #808080;
    width: 100%;
    display: block;
    
}
.nav-pills > li{ 
   & > a.selected{
       background-color: black;
       color: #808080;
    
   
   }
   &> a{
        padding: 8px 8px;
        background-color:#808080 ;
        color: black;          
       &:hover,&:focus{
            background: black;
            color: #808080;
        }
   }
   &>span{
     .navitem();       
   }
    &>span.fa{
     display: inline-block;
     margin-top: 2px;   
     .navitem();       
   }  
 
}

.navbar > ul >li:last-of-type{
            
            display: inline-block;
            padding: 10px;
}
.border{
    border: 1px solid #f88529;
}


.navitem(){

    background-color:#808080 ;
    color: black;   
}
